.catalog__item {
  position: relative;
  min-width: 287px;
  max-width: 320px;
  justify-self: center;
}

.item__card {
  position: relative;
  border-radius: 20px;
  width: 100%;
  overflow: hidden; 
}

.card-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
}

.item__card:focus-visible,
.item__card:hover {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.item__card:hover .card-image {
  opacity: 1;
  transform: scale(1.2);
  transition: transform .5s ease-in-out;
}

.promo-button {
  position: absolute;
  left: 10px;
  top: 13px;
  width: 126px;
  height: 38px;
  padding: 10px;
  border-radius: 100px;
  border: none;
  background: #231815;
  color: #fff;
  cursor: pointer;
}

.details-button__container{
  display: flex;
  width: 100%;
  height: 88px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 0 0 10px 10px;
  opacity: 0;
}

.details-button {
  padding: 13px 0px;
  width: 258px;
  color: #fff;
  background: #e45302;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.catalog__item:hover .details-button,
.catalog__item:hover .details-button__container{
  opacity: 1;
  transition: opacity .3s ease-in-out;

}

.item__info{
  margin-top: 20px;
}
.item__info-title{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  color: #231815;
}

.item__info-price {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30.8px;
  color: #231815;
}

.newPrice {
  color: #231815;
}

.oldPrice {
  color: #808080;
  text-decoration: line-through;
}
