
@media (max-width: 1919px) {
  .form-input{
    width: 39px;
    background: url(../img/svg/search-black.svg) no-repeat;
    background-color: black;
    background-position: center;
  }
}
@media (max-width: 1600px) {
  .header__top {
    padding: 12px clamp(44px,-5.1355rem + 16.3855vw, 180px);
  }

  .header{
    padding: 0 clamp(44px,-5.1355rem + 16.3855vw, 180px);
  }
  .main {
    padding: 50px clamp(44px,-5.1355rem + 16.3855vw, 180px);
  }
  .footer{
    padding: 60px clamp(44px,-5.1355rem + 16.3855vw, 180px);
  }

  .catalog__item {
    position: relative;
  }

  .header__logo {
    margin-right: 97px;
  }

  .main__title {
    margin-top: 10px;
    font-size: 40px;
  }

  .lamp__img {
    width: 287px;
    height: 428px;
  }

  .details__btn {
    left: 13px;
  }

  .footer {
    padding-top: 65px;
    padding-bottom: 64px;
  }

  .footer__common {
    margin-right: 23px;
  }

  .footer__info {
    flex-direction: column;
    margin-left: 52px;
  }  
}
@media (max-width: 1280px) {
  .header__top {
    display: none;
  }
  .header__logo{
    width: 141px;
    min-width: none;
  }

  .header__container{
    display: flex;
    justify-content: space-between;
  }

  .header__main-btn,
  .header__main-nav {
    display: none;
  }

  .burger {
    position: relative;
    display: block;
    justify-self: end;
    width: 40px;
    height: 40px;
    border: none;
    color: black;
    background-color: #fff;
    cursor: pointer;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 12px;
  }

  .burger__line:nth-child(2) {
    top: 42%;
    transform: translateY(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 15px;
  }
  .main__title {
    margin-top: 0;
    font-size: 32px;
    line-height: 44.8px;
  }
  .footer {
    grid-template-columns: 253px 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "logo logo logo "
    "address contacts service"
    "legal - service"
    "payment notification notification";
    background: #0C0C0C;
  } 
  .footer__address{
    margin-left: 0;
  }
  
  .footer__contacts{
    margin-left: 0;
  }
  .footer__legal{
    justify-self: start;
  }
  
  .footer__legal-list{
    align-items: start;
  }
  .footer__payment{
    justify-self: start;
  }
  .footer__notification {
    align-self: center;
    margin-left: 56px;
  }
  
}

@media (max-width: 699px){
  .main {
    padding: 50px 44px;
  }

  .main__title {
    font-size: 24px;
    line-height: 33.6px;
  }

  .catalog {
    grid-template-columns: repeat(2, auto);
    gap: clamp(10px, -1.2993rem + 7.8947vw,40px);
  }

  .catalog__item { 
    width:100%;
    min-width: 155px;
    max-width: 320px;
  }
  .item__info-title{
    font-size: 16px;
    line-height: 22.4px;
  }
  
  .item__info-price {
    font-size: 16px;
    line-height: 22.4px;
  }
  .promo-button {
    display: none;
  }

 .details-button__container {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 40px 39px;
   } 
   .footer__logo {
    margin-bottom: 35px;
  }
  .footer__legal{
    margin-bottom: 72px;
  }
  .footer__notification {
    margin-left: 0;
  }
  
}
